@import url('https://fonts.googleapis.com/css?family=Raleway%3A400%2C200%2C300%2C800%2C700%2C500%2C600%2C900%2C100%7CRoboto%3A400%2C100italic%2C100%2C300%2C300italic%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C300%2C400%2C700%7COpen+Sans%3A400%2C300%2C600%2C700%2C800%2C800italic%2C700italic%2C600italic%2C400italic%2C300italic%7CMontserrat%3A400%2C700%7CDroid+Serif%3A400%2C400italic%2C700%2C700italic%7CCabin%3A400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%7CLato%3A400%2C100%2C100italic%2C300%2C300italic%2C400italic%2C700%2C700italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(../img/sfondo.png);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.8;
  font-weight: 300;

}

.wrap {
  width: 72%;
  height: 100%;
  margin: 0 auto;


}

.container {
  width: 100%;
  padding: 0px 48px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 225px;
  margin-top: 24px;
  width: 100%;
  border: 12px solid white;
  background: url(../img/header.jpg);
  background-size: cover;
}

.title {
  text-align: center;
  padding: 48px;
}
.title h1 {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight:600;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, .1);
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 6px 0px;
  padding: 0px;
}

.title h2 {
    display: block;
    color: rgba(255, 255, 255, .8);
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 2px;
    margin: 6px 0px;
    padding: 0px;
}


.navcontainer {
  width: 100%;
  height: 48px;
  background-color: #504741;
  margin-bottom: 24px;
}

nav {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#menu li, #menu li a  {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b2a39a;
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    line-height: 48px;
    text-shadow: 1px 1px rgba(0, 0, 0, .4);
    letter-spacing: 0.6px;
    padding: 0px 4px;
}

.left {
  height: 1000px;
  width: 23%;
  float: left;
}

.widget {
  width: 100%;
  margin-bottom: 25px;
  padding: 24px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .24);
}

h6 {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-top: 4px;
  margin-bottom: 12px;
  color: #504741;
}



li {
  list-style: none;
  margin: 2px 0px;
  padding: 3px 8px;
}

a, a:link, a:visited {
    color: #99cc33;
    text-decoration: none;
}


.right {
  width: 29%;
  float: right;
}

.right .widget:first-child {
  padding: 15px;
}

forms:after {
  content: "";
  display: table;
  clear: both;
}

#field {
  background: rgba(0, 0, 0, 0.04);
  color: #999999;
  width: 72%;
  font-size: 1em;
  line-height: 1.4;
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

#searchsubmit {
  width: 22%;
  font-size: 0.9em;
  background-color: #706760;
  color: rgba(255, 255, 255, .75);
  font-weight: 400;
  margin: 12px 0px;
  padding: 11px;
  border: 1px solid rgba(0, 0, 0, .8);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, .24);

}


.tagcloud {
  font-size: 11px;
  font-weight: 300;
  line-height: 26px;
}

#big {
  font-size: 24px;
}

main {
  height: auto;
  width: 44%;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .24);
  float: left;
  margin: 0px 2%;
  padding: 24px;
}

.article {
  width: 100%;
  height: 100%%;
  color: black;
  padding-bottom: 30px;
}


.article p {
  color: #666666;
  font-size: 16px;
  line-height: 29px;
}

h2 {
  font-family: 'Montserrat';
  color: #504741;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
}


footer {
  float: left;
  color: rgba(0, 0, 0, .35);
  font-size: 16px;
  line-height: 29px;
  height: auto;
  width: 100%;
  background-color: #fff;
  margin: 24px auto 24px;
  padding: 24px;
}



.footup:after {
  content: "";
  display: table;
  clear: both;
}

.footup {
  margin-bottom: 16px;
}


#foot li a {
  color: rgba(0, 0, 0, .35);
}

.sect-one {
  height: auto;
  width: 23%;
  float: left;
}

.sect-two {
  height: auto;
  width: 23%;
  float: left;
}
.sect-three {
  height: auto;
  width: 23%;
  float: left;
}
.sect-four {
  height: auto;
  width: 31%;
  float: left;
}

hr {
  border: 1px solid rgba(0, 0, 0, .1);
}

.footdown {
  margin-top: 20px;
}

.copyright {
  font-size: 14px;
  color: #000;
  width: 37%;
  float: left;
}

.social {
  margin: 20px 20px 0px;
  float: right;
}

.social * {
  margin-left:  15px;
}
